node_modules
public/bundle.js
public/bundle.js.map
.DS_Store
npm-debug.log
yarn-error.log
package-lock.json
# necessary server/db/db.js gitignore because of how postgres auth works on my computer -V
server/db/db.js
