@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(
    circle at 22.4% 21.7%,
    #1d3557 0%,
    #a8dadc 100.2%
  );
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.promotions {
  max-width: 1200px;
  margin: 40px auto;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.promo-item {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 33.33%;
  border: 2px solid #1d3557;
  box-sizing: border-box;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.promo-item-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
}

.promo-item-inner > div {
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  color: #f1faee;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .promo-item {
    flex-grow: 1;
    min-width: 50%;
  }
}

@media (max-width: 800px) {
  .promo-item {
    flex-grow: 1;
    min-width: 100%;
  }
}

a:link {
  color: #f1faee;
  text-decoration: none;
}

a:visited {
  color: #f1faee;
  text-decoration: none;
}

a:hover {
  color: #e63946;
  text-decoration: none;
}

a:active {
  color: #f1faee;
  text-decoration: none;
}

.all-products {
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media (max-width: 1000px) {
  .all-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .all-products {
    grid-template-columns: 1fr;
  }
}

.all-products-title {
  text-align: center;
}

.product-item {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}

.product-item:hover {
  transform: translate(0px, -8px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: 0.6s;
}
.product-item-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
}

button {
  background-color: #e63946;
  color: #f1faee;
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #f1faee;
  color: #e63946;
  transition: 0.6s;
}

.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item > product-item-title {
  font-size: 2.5vw;
  font-weight: bold;
  color: #f1faee;
}

.product-item > product-item-price {
  font-size: 20px;
  font-weight: bold;
  color: #f1faee;
}
