body {
  font-family: sans-serif;
}

a, a:visited {
  color: rgb(89, 153, 122);
  text-decoration: none;
  outline: 0;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* MAIN CONTAINER */

#main {
  display: flex;
}

#mainBody {
  width: 100%;
}

.cartOpen {
  width: 20%;
}

.cartHidden {
  width: 0%;
  visibility: hidden;
}

h1 {
  font-size: 2em;
  text-align: center;
}

/* Products */
.all-products-name {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.content{
  border: solid;
  width: 24%;
  height: auto;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius:10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .4s;
}

.content:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  transform: translate(0px, -8px);
  transition: .6s;
}
.all-products-image {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.all-product-description-container{
  height: 100px;
}

.all-product-description {
  text-align: center;
  color: #808688;
  padding: 0 8px;
}

.all-products-price {
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
  font-weight: bold;
}

.all-products-button{
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border:0px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #2183a2;
}

/* single product */

.single-product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 50px 0; */
}

.single-product-image h1 {
  font-size: 30px;
  font-family: myriad-pro,"Myriad Pro",Myriad,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align:left;
  color:#525252;
}

.single-product-image-container img{
  width:600px;
  height: auto;
}

.single-product-description {
  flex-basis: 50%;
}

.single-product-description h3 {
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2px;
}

.single-product-description h3 p {
  color: #444;
}

.single-product-description button {
  background: #888;
  border: 0 solid #555;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 12px 25px;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans',sans-serif;
}

.quantity {
  padding: 5px;
  width: 65px;
  font-size: 15px;
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 15px;
}
