body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* MAIN CONTAINER */

#main {
  display: flex;
}

#mainBody {
  width: 100%;
}

.cartOpen {
  width: 20%;
}

.cartHidden {
  width: 0%;
  visibility: hidden;
}
